
$primary-background-color: #e4e6eb;
$secondary-background-color: #f7f8f9;

$default-box-shadow: "0 2px 3px 3px rgba(0, 0, 0, 0.1)";
$focus-box-shadow: "0 2px 3px 3px rgba(0, 0, 0, 0.2)";

$primary-button-background-color: #92c131;
